body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    background-color: #fcf8d9;
    text-align: center;
}

img {
    width: 25%;
    margin: 0 1em 0 0;
  }

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 2em;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(28,55,28);
  float: left;

}

.navbar a.logo img {
  height: 7em;
  width: 7em;
  margin-right: 5em;
}

ul li a:hover {
    color: rgb(28,55,28);
    border: botom 0.1em solid rgb(28,55,28);
}

a:visited:active {
    color: rgb(28,55,28);
}

img {
    width: 25%;
    margin: 0 1em 0 0;
    float: inline-end;
  }

a {
  color: black;
}

.zeeburgertuinhome {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  img {
    max-width: 100%;
  }

.container {
    display: flex; 
    flex-direction: row;
    width: 70%;
    padding: 20px;
    color: black;
  }
  
  .container div {
    width: 50%;
    padding: 1em;
  }
  .container1 {
    display: flex; 
    flex-direction: row;
    margin-left: 40px;
    width: 70%;
    padding: 20px;
    color: black;
  }
  
  .container1 div {
    width: 50%;
  }

  .foto_container {
    width: 60%;
    height: 60%;
    padding: 1em;
    margin: 0 1em 0 0;
  }
  
  .agenda {
    display: flex; 
    flex-direction: row;
    width: 70%;
    margin: 1.5em;
    background-color: rgb(114,155,101);
    padding: 2.5em;
    color: white;
  }
  
  .agenda div {
    width: 50%;
  }
  
  .afbeelding {
    width: 60%;
    height: 50%;
    padding-top: 1.5em; 
    padding-right: 1.5em;
  }

  .afbeelding2 {
    width: 60%;
    height: 50%;
    padding-top: 1.5em; 
    padding-left: 2em;
 }

  .agenda2 {
    display: flex; 
    flex-direction: row;
    width: 70%;
    margin: 1.5em;
    background-color: rgb(114,155,101);
    padding: 2.5em;
    color: white;
  }
  
  .agenda2 div {
    width: 50%;
  }

  .foto_container2 {
    width: 50%;
    height: 50%;
    padding: 1.5em;
    margin: 0 1em 0 0;
  }
  
  ol.ingredienten {
    list-style-type: disc;
  }

  ol {
    text-align: left;
  }

  hr {
    width: 65%
    }